allowedActions = [
    "org.libvirt.unix.manage",
    "org.libvirt.unix.monitor",
    "org.libvirt.api.connect.detect-storage-pools",
    "org.libvirt.api.connect.getattr",
    "org.libvirt.api.connect.interface-transaction",
    "org.libvirt.api.connect.pm-control",
    "org.libvirt.api.connect.read",
    "org.libvirt.api.connect.search-domains",
    "org.libvirt.api.connect.search-interfaces",
    "org.libvirt.api.connect.search-networks",
    "org.libvirt.api.connect.search-node-devices",
    "org.libvirt.api.connect.search-nwfilter-bindings",
    "org.libvirt.api.connect.search-nwfilters",
    "org.libvirt.api.connect.search-secrets",
    "org.libvirt.api.connect.search-storage-pools",
    "org.libvirt.api.connect.write",
    "org.libvirt.api.domain.block-read",
    "org.libvirt.api.domain.block-write",
    "org.libvirt.api.domain.checkpoint",
    "org.libvirt.api.domain.core-dump",
    "org.libvirt.api.domain.delete",
    "org.libvirt.api.domain.fs-freeze",
    "org.libvirt.api.domain.fs-trim",
    "org.libvirt.api.domain.getattr",
    "org.libvirt.api.domain.hibernate",
    "org.libvirt.api.domain.init-control",
    "org.libvirt.api.domain.inject-nmi",
    "org.libvirt.api.domain.mem-read",
    "org.libvirt.api.domain.migrate",
    "org.libvirt.api.domain.open-device",
    "org.libvirt.api.domain.open-graphics",
    "org.libvirt.api.domain.open-namespace",
    "org.libvirt.api.domain.pm-control",
    "org.libvirt.api.domain.read",
    "org.libvirt.api.domain.read-secure",
    "org.libvirt.api.domain.reset",
    "org.libvirt.api.domain.save",
    "org.libvirt.api.domain.screenshot",
    "org.libvirt.api.domain.send-input",
    "org.libvirt.api.domain.send-signal",
    "org.libvirt.api.domain.set-password",
    "org.libvirt.api.domain.set-time",
    "org.libvirt.api.domain.snapshot",
    "org.libvirt.api.domain.start",
    "org.libvirt.api.domain.stop",
    "org.libvirt.api.domain.suspend",
    "org.libvirt.api.domain.write",
    "org.libvirt.api.interface.delete",
    "org.libvirt.api.interface.getattr",
    "org.libvirt.api.interface.read",
    "org.libvirt.api.interface.save",
    "org.libvirt.api.interface.start",
    "org.libvirt.api.interface.stop",
    "org.libvirt.api.interface.write",
    "org.libvirt.api.network-port.create",
    "org.libvirt.api.network-port.delete",
    "org.libvirt.api.network-port.getattr",
    "org.libvirt.api.network-port.read",
    "org.libvirt.api.network-port.write",
    // "org.libvirt.api.network.delete",
    "org.libvirt.api.network.getattr",
    "org.libvirt.api.network.read",
    "org.libvirt.api.network.save",
    // "org.libvirt.api.network.search-ports",
    // "org.libvirt.api.network.start",
    // "org.libvirt.api.network.stop",
    // "org.libvirt.api.network.write",
    // "org.libvirt.api.node-device.delete",
    // "org.libvirt.api.node-device.detach",
    "org.libvirt.api.node-device.getattr",
    "org.libvirt.api.node-device.read",
    // "org.libvirt.api.node-device.start",
    // "org.libvirt.api.node-device.stop",
    // "org.libvirt.api.node-device.write",
    // "org.libvirt.api.nwfilter-binding.create",
    // "org.libvirt.api.nwfilter-binding.delete",
    // "org.libvirt.api.nwfilter-binding.getattr",
    // "org.libvirt.api.nwfilter-binding.read",
    // "org.libvirt.api.nwfilter.delete",
    // "org.libvirt.api.nwfilter.getattr",
    // "org.libvirt.api.nwfilter.read",
    // "org.libvirt.api.nwfilter.save",
    // "org.libvirt.api.nwfilter.write",
    // "org.libvirt.api.secret.delete",
    // "org.libvirt.api.secret.getattr",
    // "org.libvirt.api.secret.read",
    // "org.libvirt.api.secret.read-secure",
    // "org.libvirt.api.secret.save",
    // "org.libvirt.api.secret.write",
    // "org.libvirt.api.storage-pool.delete",
    // "org.libvirt.api.storage-pool.format",
    "org.libvirt.api.storage-pool.getattr",
    "org.libvirt.api.storage-pool.read",
    "org.libvirt.api.storage-pool.refresh",
    // "org.libvirt.api.storage-pool.save",
    "org.libvirt.api.storage-pool.search-storage-vols",
    // "org.libvirt.api.storage-pool.start",
    // "org.libvirt.api.storage-pool.stop",
    // "org.libvirt.api.storage-pool.write",
    "org.libvirt.api.storage-vol.create",
    "org.libvirt.api.storage-vol.data-read",
    "org.libvirt.api.storage-vol.data-write",
    "org.libvirt.api.storage-vol.delete",
    "org.libvirt.api.storage-vol.format",
    "org.libvirt.api.storage-vol.getattr",
    "org.libvirt.api.storage-vol.read",
    "org.libvirt.api.storage-vol.resize"
]

polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.libvirt") == 0 && subject.isInGroup("libvirt")) {
        if (allowedActions.indexOf(action.id) >= 0) {
            return polkit.Result.YES;
        } else {
            polkit.log(action.toString());
            return polkit.Result.NO;
        }
    }
});
