#!/bin/sh

. /usr/share/debconf/confmodule

db_input high mofos/pool/default || true
db_go || true

db_input high mofos/pool/install || true
db_go || true

db_input high mofos/net/name || true
db_go || true

db_input high mofos/net/iface || true
db_go || true

db_input high mofos/net/address || true
db_go || true
